---
layout: compress
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv=X-UA-Compatible content="IE=edge,chrome=1">
  <meta name=viewport content="width=device-width, initial-scale=1">

  <meta name=description content="{{ site.bio }}">
  <meta name=author content="{{ site.name }}">

  {% seo %}

  {% include favicon.html %}

  <link rel="canonical" href="https://scontent-sea1-1.cdninstagram.com/t51.2885-15/s480x480/e35/c54.0.531.531/14561999_1082238775223923_8261011582562074624_n.jpg?ig_cache_key=MTM1ODQ1NDU4NjAyNDg3MjM1OQ%3D%3D.2.c">

  <style>
    {% capture scss_sheet %}{% include style.scss %}{% endcapture %}
    {{ scss_sheet | scssify }}
  </style>
</head>
<body>
  {{ content }}
</body>
</html>
